.App {
  text-align: center;
}

.App-header {
  background-color: #307351;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Lato', sans-serif;
  color: #70163c;
}

h1 {
  font-weight: bold;
}

.text-field {
  /* width: 50%; */
  /* margin-top: 3%; */
  text-align: center;
}

.submit-button {
  /* margin-top: 2%; */
  /* width: 50%; */
}
